<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <%= yield %>
      <br><br>
      <a href="/projects">shortcut to projects</a>
      <br>
      <a href="/volunteers">shortcut to volunteers</a>
    </div>
  </body>
</html>